/***************************************PROPRIETES GENERALES******************************/
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding-top: 20px;
    font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4 {
    font-family: 'Lato', sans-serif;
}

li {
    list-style-type: none;
}

/*Côte à côte + Si ça rendre pas tout, retour à la ligne*/
.flex {
    display: flex;
    flex-wrap: wrap;
}

.marginTop {
    margin-top: 2.5rem;
}

.marginBottom {
    margin-bottom: 1.8rem;
}

.gap {
    gap: 3.4rem;
}

.spaceBetween {
    justify-content: space-between;
}

.alignCenter {
    align-items: center;
}

.bold {
    font-weight: 600;
}

.width30 {
    width: 30%;
}

.width45 {
    width: 45%;
}

.width55 {
    width: 55%;
}

.container {
    max-width: 62.5rem;
    /* 1000px */
    /*Ds container tjs mettre ls propriétés max width et with*/
    width: 100%;
    margin: auto;
    /*c'est égal à margin-right et margin-left=auto*/
    display: flex;
}



/************************************STRUCTURE DU FORMAT TABLETTE******************************************/
.tablet {
    width: 80vw;
    max-width: 768px;
    min-height: calc(150vh - 5rem);
    border-top: 4.4rem solid black;
    border-bottom: 4.4rem solid black;
    border-left: 2.2rem solid black;
    border-right: 2.2rem solid black;
    outline: 4px solid #d9d9d9;
    outline-offset: -4px;
    border-radius: 6vw;
    position: relative;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

/* EN HAUT Boutons argentés en haut de la tablette*/
.top-button {
    top: -5.5vh;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 12.5rem;
    height: 0.75rem;
    border-radius: 1.25rem;
    background: linear-gradient(90deg, #d9d9d9, #ffffff, #b3b3b3, #f2f2f2, #a6a6a6);
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.3), inset 0 0.0625rem 0.125rem rgba(255, 255, 255, 0.7);
}


/**************************************BOUTONS EN BAS DE LA TABLETTE******************************************/
.bottom-buttons {
    position: absolute;
    bottom: -3.2rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

/* Bouton home (centre) */
.home-button {
    width: 6.8rem;
    height: 1.8rem;
    border-radius: 1.25rem;
    background: linear-gradient(90deg, #0b0b0b, #0d0d0d);
    box-shadow:
        0.19rem 0.19rem rgba(0, 0, 0, 0.3),
        inset 0.06rem 0.06rem 0.04rem 0.10rem rgba(255, 255, 255, 0.7);
}

/* Bouton retour */
.back-icon {
    width: 1.8rem;
    height: 1.8rem;
    filter: drop-shadow(0 0 0.125rem #aaa);
}

/****************************HAUT DE L ECRAN AVEC LES ICONES****************************/
.topy {
    height: 3rem;
    padding: 0 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.8rem;
    position: relative;
}

/*Heure*/
.topy-hour {
    font-size: 1.1rem;
    font-weight: 600;
    margin: 0;
}

/*Les icônes*/
.iTel {
    display: flex;
    gap: 0.5rem;
    padding: 0.2rem 0.4rem;
    border-radius: 0.4rem;
}

.iTel i {
    font-size: 1.1rem;
}


/**************************CONTOUR ET TITRE APPLICATIONS**********************/
.outline {
    overflow-y: auto;
    /* Permet le défilement vertical */
    height: calc(100dvh - 6rem);
    max-height: calc(100dvh - 6rem);
    box-sizing: border-box;
}

.outline h1 {
    font-size: 4.3rem;
    text-align: center;
    margin-top: 0.3rem;
    width: 100%;
}

.outline em {
    color: rgb(255, 81, 0);
}


/***************************GRILLE D APPLICATIONS**********************************/
.apps {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
    padding: 0.6rem;
    overflow-y: auto;
    /* si jamais ça dépasse */
    margin-left: 1.5rem;
}

.apps img {
    width: 11.2rem;
    height: 11.2rem;
    border-radius: 20%;
}

.apps p {
    color: #000000;
    font-size: 1rem;
    text-align: center;
}



/*******************************MEDIA QUERIES***********************************/
@media screen and (max-width: 800px) {
    .tablet {
        width: 80vw;
        max-width: 768px;
        min-height: calc(150vh - 5rem);
        border-top: 4.4rem solid black;
        border-bottom: 4.4rem solid black;
        border-left: 2.2rem solid black;
        border-right: 2.2rem solid black;
        outline: 4px solid #d9d9d9;
        outline-offset: -4px;
        border-radius: 6vw;
        position: relative;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    /* Div icons */
    .divIcons {
        width: 90%;
        gap: 4rem;
        margin-left: auto;
        margin-right: auto;
        margin-top: 14rem;
    }

    .bottom-buttons {
        bottom: 2.5vh;
        gap: 4rem;
    }


    /* Conteneur des compétences */
    .apps {
        gap: 1.5rem;
        padding: 0.5rem;
    }

    .apps img {
        width: 8rem;
        height: 8rem;
    }

    .apps p {
        font-size: 0.9rem;
    }

    .outline h1 {
        font-size: 2.2rem;
    }

}


/******************************POUR FORMAT MOBILE**********************************/
@media screen and (max-width: 500px) {
    .tablet {
        width: 95vw;
        max-width: 350px;
        min-height: calc(160vh - 3rem);
        border-top: 3rem solid black;
        border-bottom: 3rem solid black;
        border-left: 1.2rem solid black;
        border-right: 1.2rem solid black;
        border-radius: 8vw;
    }


    /*************LES BOUTONS**********/
    /* Bouton argenté top */
    .top-button {
        top: -9vh;
        width: 5.2rem;
    }

    /* Div boutons */
    .bottom-buttons {
        bottom: -12.5vh;
        gap: 2rem;
    }

    /* Bouton home (centre) */
    .home-button {
        width: 3.5rem;
        height: 1rem;
    }

    /* Bouton retour */
    .back-icon {
        width: 1.2rem;
        height: 1.2rem;
    }


    /* Contenu */
    .topy {
        height: 2rem;
        padding: 0 0.6rem;
        gap: 0.4rem;
    }

    .topy-hour {
        font-size: 0.9rem;
    }

    .iTel {
        gap: 0.35rem;
        padding: 0.1rem 0.3rem;
    }

    .iTel i {
        font-size: 0.9rem;
    }

    .apps {
        gap: 0.8rem;
        padding: 0.4rem;
    }

    .apps img {
        width: 4.8rem;
        height: 4.8rem;
    }

    .apps p {
        font-size: 0.8rem;
    }
}