@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ==========================================================================
   RÉCAPITULATIF DES UNITÉS CSS UTILISÉES
   ==========================================================================

   1. px (pixels) : unité fixe, dépend de l'écran
      - 1px = 1 pixel de l'écran
      - Ex : font-size: 16px → taille fixe de 16 pixels

   2. rem (root em) : unité relative à la taille de la police racine (html)
      - 1rem = taille de la police définie sur <html> (souvent 16px par défaut)
      - Ex : font-size: 1.5rem → 1.5 * 16px = 24px

   3. em : unité relative à la taille de police de l'élément parent
      - 1em = taille de police de son parent
      - Ex : si parent = 16px, font-size: 1.2em → 19.2px

   4. vw (viewport width) : pourcentage de la largeur de la fenêtre
      - 1vw = 1% de la largeur de la fenêtre
      - Utile pour rendre des éléments proportionnels à l'écran

   5. vh (viewport height) : pourcentage de la hauteur de la fenêtre
      - 1vh = 1% de la hauteur de la fenêtre
      - Utile pour gérer la hauteur d'éléments 

   6. % (pourcentages) : relatif à l'élément parent
      - Ex : width: 80% → prend 80% de la largeur de son parent

   CONSEILS :
   - Utiliser rem pour la typographie → cohérence sur tout le site
   - Utiliser vw/vh pour les éléments proportionnels à l'écran
   - % pour le layout relatif aux conteneurs
   - px seulement pour des valeurs très fixes si nécessaire
*/

/***************************************PROPRIETES GENERALES******************************/
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding-top: 20px;
    font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4 {
    font-family: 'Lato', sans-serif;
}

li {
    list-style-type: none;
}

/*Côte à côte + Si ça rendre pas tout, retour à la ligne*/
.flex {
    display: flex;
    flex-wrap: wrap;
}

.marginTop {
    margin-top: 2.5rem;
}

.marginBottom {
    margin-bottom: 1.8rem;
}

.gap {
    gap: 3.4rem;
}

.spaceBetween {
    justify-content: space-between;
}

.alignCenter {
    align-items: center;
}

.bold {
    font-weight: 600;
}

.width30 {
    width: 30%;
}

.width45 {
    width: 45%;
}

.width55 {
    width: 55%;
}

.container {
    max-width: 62.5rem;
    /* 1000px */
    /*Ds container tjs mettre ls propriétés max width et with*/
    width: 100%;
    margin: auto;
    /*c'est égal à margin-right et margin-left=auto*/
    display: flex;
}



/************************************STRUCTURE DU FORMAT TABLETTE******************************************/
.tablet {
    width: 80vw;
    max-width: 768px;
    min-height: 100vh;
    border-top: 4.4rem solid black;
    border-bottom: 4.4rem solid black;
    border-left: 2.2rem solid black;
    border-right: 2.2rem solid black;
    outline: 4px solid #d9d9d9;
    outline-offset: -4px;
    border-radius: 6vw;
    position: relative;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
}


/* EN HAUT Boutons argentés en haut de la tablette*/
.top-button {
    top: -5.5vh;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 12.5rem;
    height: 0.75rem;
    border-radius: 1.25rem;
    background: linear-gradient(90deg, #d9d9d9, #ffffff, #b3b3b3, #f2f2f2, #a6a6a6);
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.3), inset 0 0.0625rem 0.125rem rgba(255, 255, 255, 0.7);
}


/****************************HAUT DE L ECRAN AVEC LES ICONES****************************/
.topy {
    height: 3rem;
    padding: 0 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.8rem;
    position: relative;
}

/*Heure*/
.topy-hour {
    font-size: 1.1rem;
    font-weight: 600;
    margin: 0;
}

/*Les icônes*/
.iTel {
    display: flex;
    gap: 0.5rem;
    padding: 0.2rem 0.4rem;
    border-radius: 0.4rem;
}

.iTel i {
    font-size: 1.1rem;
}

/**********************************PARTIE FORMATIONS************************************/

.screen-training {
    padding-top: 10px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow-y: auto;
    height: calc(100vh - 120px);
    /* Définit la hauteur de l'écran pour qu'il occupe toute la fenêtre */
    max-height: 100vh;
    margin-bottom: 60px;
}


/* Personnalisation de la barre de défilement */
.screen-training::-webkit-scrollbar {
    width: 8px;
}

.screen-training::-webkit-scrollbar-thumb {
    background-color: #6c8ffe;
    border-radius: 10px;
}

.screen-training::-webkit-scrollbar-track {
    background-color: #f0f0f0;
    border-radius: 10px;
}



/*********************************PAGE PARCOURS**************************************/
.one {
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(146, 115, 254, 0.25);
    align-items: center;
    margin-bottom: 20px;
}

.one p {
    width: 50%;
    margin-left: 30px;
    font-weight: 700;
    font-size: 1.5rem;
    color: #8080fe;
}

.screen-training .fa-solid,
.fas {
    font-size: 35px;
    color: #6791fd;
    margin-left: 20px;
}

.screen-training h2 {
    font-weight: 800;
    width: 100%;
    font-size: 1.7em;
    text-align: center;
    margin-bottom: 40px;
    color: #6b90fe;
}

.accordion {
    background: linear-gradient(135deg, #6791fd, #728bff, #9273fe, #897afe, #9c6cfe);
    color: #ffffff;
    cursor: pointer;
    padding: 15px 20px;
    width: 100%;
    border: 3px solid #9273fe;
    border-radius: 0.5rem;
    text-align: left;
    outline: none;
    font-size: 1.15rem;
    box-shadow: 0 4px 8px rgba(146, 115, 254, 0.2);
    transition: none;
    /* pas de hover */
    margin-bottom: 0.8rem;
}

.accordion:after {
    content: '\002B';
    /* affiche un + */
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.accordion.active:after {
    content: '\2212';
    /* affiche un − */
}


.panel {
    width: 100%;
    display: block;
    /* Empêche les rétrécissements */
    padding: 5px 17px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
    margin: 0 0 0.8rem 0;
    background-color: #ffffff;
    color: #6b90fe;
    box-shadow: 0 4px 8px rgba(146, 115, 254, 0.15);
    border-radius: 0.5rem;
    font-size: 1rem;
}

.accordion.active+.panel {
    max-height: 600px;
    transition: max-height 0.5s ease-in-out;
}

.panel h3,
.panel p {
    margin: 0;
    padding: 0;
    text-align: left;
}

.panel p {
    margin-top: 5px;
}


/**************************************BOUTONS EN BAS DE LA TABLETTE******************************************/
.bottom-buttons {
    position: absolute;
    bottom: -3.2rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

/* Bouton home (centre) */
.home-button {
    width: 6.8rem;
    height: 1.8rem;
    border-radius: 1.25rem;
    background: linear-gradient(90deg, #0b0b0b, #0d0d0d);
    box-shadow:
        0.19rem 0.19rem rgba(0, 0, 0, 0.3),
        inset 0.06rem 0.06rem 0.04rem 0.10rem rgba(255, 255, 255, 0.7);
}

/* Bouton retour */
.back-icon {
    width: 1.8rem;
    height: 1.8rem;
    filter: drop-shadow(0 0 0.125rem #aaa);
}



/*******************************MEDIA QUERIES***********************************/
@media screen and (max-width: 800px) {
    .tablet {
        width: 80vw;
        max-width: 768px;
        min-height: calc(150vh - 5rem);
        border-top: 4.4rem solid black;
        border-bottom: 4.4rem solid black;
        border-left: 2.2rem solid black;
        border-right: 2.2rem solid black;
        outline: 4px solid #d9d9d9;
        outline-offset: -4px;
        border-radius: 6vw;
        position: relative;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    /* Div icons */
    .divIcons {
        width: 90%;
        gap: 4rem;
        margin-left: auto;
        margin-right: auto;
        margin-top: 14rem;
    }

    .bottom-buttons {
        bottom: 2.5vh;
        gap: 4rem;
    }


    /* Contenu */
    .topy {
        height: 2.6rem;
        padding: 0 0.6rem;
        gap: 0.6rem;
    }

    .topy-hour {
        font-size: 1rem;
    }

    .iTel {
        gap: 0.3rem;
        padding: 0.15rem 0.3rem;
    }

    .iTel i {
        font-size: 1rem;
    }


    /*TITRE ON P*/
    .screen-training h2 {
        font-size: 1.5em;
    }




}




/******************************POUR FORMAT MOBILE**********************************/
@media screen and (max-width: 500px) {
    .tablet {
        width: 95vw;
        max-width: 350px;
        min-height: calc(120vh - 3rem);
        border-top: 3rem solid black;
        border-bottom: 3rem solid black;
        border-left: 1.2rem solid black;
        border-right: 1.2rem solid black;
        border-radius: 8vw;
    }

    .top-button {
        top: -9vh;
        width: 5.2rem;
    }

    .bottom-buttons {
        bottom: -12.5vh;
        gap: 2rem;
    }

    .home-button {
        width: 3.5rem;
        height: 1rem;
    }

    .back-icon {
        width: 1.2rem;
        height: 1.2rem;
    }


    /* Contenu */
    .topy {
        height: 2rem;
        padding: 0 0.6rem;
        gap: 0.4rem;
    }

    .topy-hour {
        font-size: 0.9rem;
    }

    .iTel {
        gap: 0.35rem;
        padding: 0.1rem 0.3rem;
    }

    .iTel i {
        font-size: 0.9rem;
    }

    /* Contenu formations */
    .screen-training {
        width: 100%;
    }


    /* Titre */
    .screen-training h2 {
        font-size: 1.1em;
        text-align: center;
    }

    .one p {
        font-size: 0.9rem;
        width: 90%;
    }

    .screen-training .fa-solid,
    .fas {
        display: none;
    }

    .accordion {
        font-size: 0.8rem;
    }

    .panel h3,
    .panel p {
        text-align: left;
        font-size: 0.7rem;
    }

}