@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ==========================================================================
   RÉCAPITULATIF DES UNITÉS CSS UTILISÉES
   ==========================================================================

   1. px (pixels) : unité fixe, dépend de l'écran
      - 1px = 1 pixel de l'écran
      - Ex : font-size: 16px → taille fixe de 16 pixels

   2. rem (root em) : unité relative à la taille de la police racine (html)
      - 1rem = taille de la police définie sur <html> (souvent 16px par défaut)
      - Ex : font-size: 1.5rem → 1.5 * 16px = 24px

   3. em : unité relative à la taille de police de l'élément parent
      - 1em = taille de police de son parent
      - Ex : si parent = 16px, font-size: 1.2em → 19.2px

   4. vw (viewport width) : pourcentage de la largeur de la fenêtre
      - 1vw = 1% de la largeur de la fenêtre
      - Utile pour rendre des éléments proportionnels à l'écran

   5. vh (viewport height) : pourcentage de la hauteur de la fenêtre
      - 1vh = 1% de la hauteur de la fenêtre
      - Utile pour gérer la hauteur d'éléments 

   6. % (pourcentages) : relatif à l'élément parent
      - Ex : width: 80% → prend 80% de la largeur de son parent

   CONSEILS :
   - Utiliser rem pour la typographie → cohérence sur tout le site
   - Utiliser vw/vh pour les éléments proportionnels à l'écran
   - % pour le layout relatif aux conteneurs
   - px seulement pour des valeurs très fixes si nécessaire
*/

/***************************************PROPRIETES GENERALES******************************/
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding-top: 20px;
    font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4 {
    font-family: 'Lato', sans-serif;
}

li {
    list-style-type: none;
}

/*Côte à côte + Si ça rendre pas tout, retour à la ligne*/
.flex {
    display: flex;
    flex-wrap: wrap;
}

.marginTop {
    margin-top: 2.5rem;
}

.marginBottom {
    margin-bottom: 1.8rem;
}

.gap {
    gap: 3.4rem;
}

.spaceBetween {
    justify-content: space-between;
}

.alignCenter {
    align-items: center;
}

.bold {
    font-weight: 600;
}

.width30 {
    width: 30%;
}

.width45 {
    width: 45%;
}

.width55 {
    width: 55%;
}

.container {
    max-width: 62.5rem;
    /* 1000px */
    /*Ds container tjs mettre ls propriétés max width et with*/
    width: 100%;
    margin: auto;
    /*c'est égal à margin-right et margin-left=auto*/
    display: flex;
}



/************************************STRUCTURE DU FORMAT TABLETTE******************************************/
.tablet {
    width: 80vw;
    max-width: 768px;
    min-height: calc(150vh - 5rem);
    border-top: 4.4rem solid black;
    border-bottom: 4.4rem solid black;
    border-left: 2.2rem solid black;
    border-right: 2.2rem solid black;
    outline: 4px solid #d9d9d9;
    outline-offset: -4px;
    border-radius: 6vw;
    position: relative;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

/* EN HAUT Boutons argentés en haut de la tablette*/
.top-button {
    top: -5.5vh;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 12.5rem;
    height: 0.75rem;
    border-radius: 1.25rem;
    background: linear-gradient(90deg, #d9d9d9, #ffffff, #b3b3b3, #f2f2f2, #a6a6a6);
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.3), inset 0 0.0625rem 0.125rem rgba(255, 255, 255, 0.7);
}



/****************************HAUT DE L ECRAN AVEC LES ICONES****************************/
.topy {
    height: 3rem;
    padding: 0 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.8rem;
    position: relative;
}

/*Heure*/
.topy-hour {
    font-size: 1.1rem;
    font-weight: 600;
    margin: 0;
}

/*Les icônes*/
.iTel {
    display: flex;
    gap: 0.5rem;
    padding: 0.2rem 0.4rem;
    border-radius: 0.4rem;
}

.iTel i {
    font-size: 1.1rem;
}


/************************************MISE EN PAGE COMPETENCES*****************************/
.contentSkills {
    width: 100%;
    margin-bottom: 1.8rem;
}

.titleSkills {
    position: sticky;
    top: 0;
    background: linear-gradient(135deg, #2596be 0%, #31abdd 100%);
    color: #ffffff;
    text-align: center;
    font-size: 1.6em;
    padding: 0.6rem;
    font-weight: bold;
    z-index: 10;
    border-bottom: 0.12rem solid #31abdd;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}


/* Cube container */
#cube-container {
    width: 15vw;
    margin: 3rem auto 0 auto;
    position: relative;
    transform-style: preserve-3d;
    animation: rotateCube 10s infinite linear;
    display: flex;
}

.cube {
    width: 14vw;
    height: 14vw;
    margin: 0 auto;
    position: relative;
    transform-style: preserve-3d;
}

/* Faces du cube */
.face {
    background: #F7F8EB;
    border: 0.2rem solid #31abdd;
    position: absolute;
    width: 12.5rem;
    height: 12.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.12rem;
    color: #2596be;
    font-weight: 600;
}


/* Assure que le bouton top reste au-dessus */
.bouton-argente.top {
    z-index: 10;
    /* toujours au-dessus du cube */
}

/* Faces spécifiques */
.front {
    transform: rotateY(0deg) translateZ(6.25rem);
}

.back {
    transform: rotateY(180deg) translateZ(6.25rem);
}

.left {
    transform: rotateY(-90deg) translateZ(6.25rem);
}

.right {
    transform: rotateY(90deg) translateZ(6.25rem);
}

.top {
    transform: rotateX(90deg) translateZ(6.25rem);
}

.bottom {
    transform: rotateX(-90deg) translateZ(6.25rem);
}

/* Images sur les faces */
.face img {
    width: 15vh;
    height: 15vh;
    object-fit: contain;
}

/* Animation */
@keyframes rotateCube {
    0% {
        transform: rotateY(0deg);
    }

    20% {
        transform: rotateY(90deg);
    }

    40% {
        transform: rotateY(180deg);
    }

    60% {
        transform: rotateY(270deg);
    }

    80% {
        transform: rotateY(360deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}



/******************************SECTION LOGICIELS ET AUTRE*********************************/
.skills {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
    width: 90%;
}

.skill-card {
    background: linear-gradient(135deg, #2596be 0%, #31abdd 100%);
    border-radius: 0.93rem;
    padding: 1.25rem;
    margin-bottom: 3.12rem;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #31abdd;
    box-shadow: 0.25rem 0.25rem 0.75rem rgba(0, 0, 0, 0.15);
    transition: transform 0.3s;
}

.skill-card h3 {
    font-size: 1.4em;
    color: #ffffff;
    font-weight: 800;
    margin-bottom: 0.62rem;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.skill-card p {
    font-size: 1.2em;
    color: #ffffff;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}



/**************************************BOUTONS EN BAS DE LA TABLETTE******************************************/
.bottom-buttons {
    position: absolute;
    bottom: -3.2rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

/* Bouton home (centre) */
.home-button {
    width: 6.8rem;
    height: 1.8rem;
    border-radius: 1.25rem;
    background: linear-gradient(90deg, #0b0b0b, #0d0d0d);
    box-shadow:
        0.19rem 0.19rem rgba(0, 0, 0, 0.3),
        inset 0.06rem 0.06rem 0.04rem 0.10rem rgba(255, 255, 255, 0.7);
}

/* Bouton retour */
.back-icon {
    width: 1.8rem;
    height: 1.8rem;
    filter: drop-shadow(0 0 0.125rem #aaa);
}




/*******************************MEDIA QUERIES***********************************/
@media (max-width: 800px) {

    .topy {
        height: 2.6rem;
        padding: 0 0.6rem;
        gap: 0.6rem;
    }

    .topy-hour {
        font-size: 1rem;
    }

    .iTel {
        gap: 0.3rem;
        padding: 0.15rem 0.3rem;
    }

    .iTel i {
        font-size: 1rem;
    }
}



/******************************POUR FORMAT MOBILE**********************************/
@media screen and (max-width: 500px) {
    .tablet {
        width: 95vw;
        max-width: 350px;
        min-height: calc(160vh - 3rem);
        border-top: 3rem solid black;
        border-bottom: 3rem solid black;
        border-left: 1.2rem solid black;
        border-right: 1.2rem solid black;
        border-radius: 8vw;
    }

    .top-button {
        top: -9vh;
        width: 5.2rem;
    }

    .bottom-buttons {
        bottom: -12.5vh;
        gap: 2rem;
    }

    .home-button {
        width: 3.5rem;
        height: 1rem;
    }

    .back-icon {
        width: 1.2rem;
        height: 1.2rem;
    }

    .titleSkills h2 {
        font-size: 1.5rem;
    }

    .skills {
        margin-left: 0.3rem;
        width: 95%;
        margin-top: 1.5rem;
    }

    .skill-card {
        padding: 0.6rem;
        margin-bottom: 1rem;
    }

    .skill-card h3 {
        font-size: 0.85rem;
    }

    .skill-card p {
        font-size: 0.75rem;
    }

    .titleSkills {
        padding: 0.3rem;
        font-size: 1rem;
    }

    #cube-container {
        width: 30vw;
        margin: 1rem auto 0 auto;
    }

    .face {
        width: 2.8rem;
        height: 2.8rem;
        border: 0.25rem solid #c3bfbf;
    }

    .front {
        transform: rotateY(0deg) translateZ(1.4rem);
    }

    .back {
        transform: rotateY(180deg) translateZ(1.4rem);
    }

    .left {
        transform: rotateY(-90deg) translateZ(1.4rem);
    }

    .right {
        transform: rotateY(90deg) translateZ(1.4rem);
    }

    .top {
        transform: rotateX(90deg) translateZ(1.4rem);
    }

    .bottom {
        transform: rotateX(-90deg) translateZ(1.4rem);
    }


    .face img {
        width: 2.2rem;
        height: 2.2rem;
    }


    .divIcons {
        width: 90%;
        gap: 2rem;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10rem;
    }

    .topy {
        height: 2.2rem;
        padding: 0 0.4rem;
        gap: 0.4rem;
    }

    .topy-hour {
        font-size: 0.9rem;
    }

    .iTel {
        gap: 0.25rem;
        padding: 0.1rem 0.25rem;
    }

    .iTel i {
        font-size: 0.9rem;
    }
}